

<div id='content'>
  <h1>QA Open Source</h1>
  <div class='tagline'>
    <em>Welcome to QA Open Source!</em>
  </div>

  <div class='description'>
    <p>
      <span style="color:#336FF;">QA Open Source was built and designed as an Automation Engineers refrence and learning guides.</span>
      (Enter a description here)<br/><br/>
      Enjoy!

    </p>
  </div>
  <%= render :partial => '/shared/side_menu' %>
</div>
<div id='layout_footer'><span style="color:#336FF;">blogcast was created by Tian Valdemar Davis and is maintained by Joshua Ewing.</span></div>
