

<div id='content'>
  <h1>QA Open Source</h1>
  <div class='tagline'>
    <em>Welcome to QA Open Source!</em>
  </div>

  <div class='description'>
    <p>
      <span style="color:#0F0F0F;">QA Open Source was built and designed as an Automation Engineers refrence guide and learning tool. Also a place to discuss Open Source automation tools.</span>
      <br/><br/>
      <span style="color:#0F0F0F;">Enjoy!</span>

    </p>
  </div>
  <%= render :partial => '/shared/side_menu' %>
</div>
<div id='layout_footer'><span style="color:#0F0F0F;">blogcast was created by Tian Valdemar Davis and is maintained by Joshua Ewing.</span></div>
