

<div id='content'>
  <h1>Welcome to QA Open Source!</h1>
  <div class='tagline'>
    <!-- <em>Welcome to QA Open Source!</em> -->
  </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20582071-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  <div class='description'>
    <p>
      <span style="color:#0F0F0F;">Welcome to my blog where I discuss Selenium and other QA open source automation tools.</span>
      <br/><br/>
      <span style="color:#0F0F0F;">Enjoy!</span>

    </p>
  </div>
  <%= render :partial => '/shared/side_menu' %>
</div>
<!-- <div id='layout_footer'><span style="color:#0F0F0F;">blogcast was created by Tian Valdemar Davis and is maintained by Joshua Ewing.</span></div> -->
